
.search .input-div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
}

.search input {
    padding: 10px 15px;
    border-radius: 25px;
    outline: none;
    transition: border-color 0.3s;
    border-style: none;
}

.search {
    width: 70%;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.search .result-window{
    width: 80vh;
    height: 70vh;
    background-color: var(--secondary-bg-color);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid white; */
}

.rtd_Table {
    background-color: var(--secondary-bg-color);
}

.rdt_TableRow.rdt_TableRow--highlight {
    background-color: yourHighlightColorHere !important; /* Replace `yourHighlightColorHere` with your desired color */
}

.button-div {

    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
}